/* .skills{
    list-style: none;
    color: brown;

}

.skills li {
    padding: 20px;
}

.bar {
    background: #484473;
    height: 20px;
    border: 1ps solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12) ,  0 1px 3px rgba(0,0,0,0.24);
} */